<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aaronhill.quotesdream"
    android:versionCode="5"
    android:versionName="3.0.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:backupAgent="MyBackupAgent">
        <service
            android:name="com.aaronhill.quotesdream.QuotesDream"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="Quotes Dream" >
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
         		android:name="android.service.dream"
         		android:resource="@xml/my_dream" />
        </service>

        <meta-data
            android:name="DATABASE"
            android:value="quotesNew.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="false" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.aaronhill" />

        <activity
            android:name="com.aaronhill.quotesdream.QuotesPreferenceActivity"
            android:label="@string/title_activity_quotes_preference"
            android:parentActivityName="android.preference.PreferenceActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.preference.PreferenceActivity" />
        </activity>
        <!--  @string/backup_key -->
        <!--  <meta-data android:name="com.google.android.backup.api_key" android:value="" /> -->
    </application>

</manifest>
